{% extends 'templates/layout.html' %} {% block title %} Create an
advice{%endblock title %} {% block content %}
<div class="hero is-fullheight">
  <div class="hero-body has -text-centred">
    <div class="container">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Title</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Enter Title"
                  name="title"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Advice Cover</label>
          </div>
          <div class="field-body">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" name="cover" />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Crops</label>
          </div>
          <div class="field-body">
            <table class="table">
              <thead>
                <tr>
                  <th><abbr title="Position">S. No</abbr></th>
                  <th><abbr title="Played"></abbr></th>
                  <th><abbr title="Played">Name</abbr></th>
                  <th><abbr title="Played">Season</abbr></th>
                  <th><abbr title="Won">Type</abbr></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th><abbr title="Position">S. No</abbr></th>
                  <th><abbr title="Played"></abbr></th>
                  <th><abbr title="Played">Name</abbr></th>
                  <th><abbr title="Played">Season</abbr></th>
                  <th><abbr title="Won">Type</abbr></th>
                </tr>
              </tfoot>
              <tbody>
                {% for crop in crops %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <td>
                    <label class="checkbox">
                      <input name="crop_{{ crop.pk }}" type="checkbox" />
                    </label>
                  </td>
                  <td>
                    <strong>{{ crop.name }}</strong>
                  </td>
                  <td>{{ crop.season }}</td>
                  <td>{{ crop.crop_type }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Details</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea
                  class="textarea"
                  placeholder="Enter the details."
                  name="description"
                >
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="has-text-centered">
          <button class="button is-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("textarea").froalaEditor();
  });
</script>
{% endblock content %}
