{% extends 'templates/layout.html' %}
{% block title %} Advisor Home {% endblock title %}
{% block content %}
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="/static/images/experts.svg" alt="Experts" />
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          Thank you for taking your time to help someone
        </h1>
        <h2 class="subtitle is-4">
          Don’t judge each day by the harvest you reap but by the seeds that you
          plant
        </h2>
        <br />
        <p class="has-text-centered">
          <a class="button is-medium is-info is-outlined">
            Help
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
