{% extends 'templates/layout.html' %}
{% block title %} Login {% endblock title%}
{% block content %}
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="/static/images/login.svg" alt="Experts" />
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="card">
                <header class="card-header has-text-centered">
                        <p class="card-header-title ">
                          Title
                        </p>
                </header>
                <div class="card-content">
                        <div class="content">
                          content.
                          
                        </div>
                </div>  
                <footer class="card-footer">
                        <a href="#" class="card-footer-item">Book Now</a>
                        
                      </footer>
                        
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
