{% extends 'templates/layout.html' %} {% block title %} Rental Requests
{%endblock title %} {% block content %}
<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Hello, {{ request.user.username }}</h1>
      <h2 class="subtitle">
        Manage your previous requests
      </h2>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <table class="table">
          <thead>
            <tr>
              <th><abbr title="Position">S. No</abbr></th>
              <th>Product</th>
              <th><abbr title="User">User</abbr></th>
              <th><abbr title="Pricec">Price</abbr></th>
              <th><abbr title="Quantity">Quantity</abbr></th>
              <th><abbr title="Status">Status</abbr></th>
              <th><abbr title="Duration Start">Start</abbr></th>
              <th><abbr title="Duration End">End</abbr></th>
              <th>Approve or decline requests</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Position">S. No.</abbr></th>
              <th>Product</th>
              <th><abbr title="User">User</abbr></th>
              <th><abbr title="Pricec">Price</abbr></th>
              <th><abbr title="Quantity">Quantity</abbr></th>
              <th><abbr title="Status">Status</abbr></th>
              <th><abbr title="Duration Start">Start</abbr></th>
              <th><abbr title="Duration End">End</abbr></th>
              <th>Approve or decline requests</th>
            </tr>
          </tfoot>
          <tbody>
              {% for rent in rents %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <td>
                <strong>{{ rent.product }}</strong>
              </td>
              <td>{{ rent.user }}</td>
              <td>{{ rent.price }}</td>
              <td>{{ rent.quantity }}</td>
              <td>{{ rent.rent_completed }}</td>
              <td>{{ rent.duration_start }}</td>
              <td>{{ rent.duration_end }}</td>
              <td>
                  {% if rent.rent_completed == true %}
                    <a onclick="approve({{ rent.id }})" class="button is-primary">Approve</a> &nbsp;
                    <a class="button is-danger">Un-approve</a>
                    {% else %}
                    <a class="button is-primary">Approved</a> &nbsp;
                    {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<script>
    function approve(id){
        let url = '/api/merchant/request/accept?rent_id=' + id
        $.get(url,function(data){
            console.log(data);
        });
    }
</script>
{% endblock content %}
